/* Variables */


:root {

    /* cores */

    --verde-escuro: #35522b;
    --verde-claro: #799567;
    --marrom-claro: #ccb494;
    --marrom-escuro: #af8440;
    --marrom-padrao: #c8a980;
    --bege-claro: #f0eada;

    /* fontes */
    --font-link: "Montserrat", sans-serif;
    --font-cursiva: "Qwitcher Grypen", cursive;
}

body {
    line-height: 1.5em;
}

.header {
    background: var(--verde-escuro);
    display: flex;
    color: var(--bege-claro);
    font-family: var(--font-link);
}

.main {
    max-width: 80%;
    margin: 1em auto;
    padding: 1em;
    font-family: var(--font-link)
}

.main__logotipo {
    background-color: var(--bege-claro);
}

.logotipo__photo {
    margin: 0 auto;
    height: 10rem;
}

.container {
    margin: 1em auto;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}


.container__left {
    display: flex;
    flex-direction: column;
    gap: 1em;

    font-family: inherit;
}

.container__left--title {
    font-size: 2em;
    font-family: inherit;
    color: var(--marrom-escuro)
}

.container__left--text {
    font-size: 1.5em;
    color: var(--verde-escuro);
}

.socials {
    display: flex;
    margin: 3.5em auto;
    gap: 2em;

    align-items: center;

    font-size: 1.5em;
    font-weight: bold;
    color: var(--marrom-escuro)
}

.conhecer__title {
    color: var(--marrom-escuro)
}

.container__conhecer {

    margin-top: 1em;

    display: flex;
    justify-content: space-around;

    color: var(--verde-escuro);
    font-weight: bold;
}

.conhecer__items--link {
    font-size: 1.25em;
    color: var(--verde-escuro);
}

.primeiro {
    margin-top: 1em;
}

.container__right--photo {
    border-radius: 10%;
    box-shadow: 0.5em 0.5em 1em var(--verde-claro);
    font-weight:bold;
}

@media screen and (min-width: 1000px){

    .container {
        gap: 3em;
        justify-content: space-between;
    }
    .container__right--photo {
        max-width: 300px;
    }

    .container__left--text {
        font-size: 18px;
        line-height: 1.5em;
    }
}

.container__queridinhos {
    margin: 1em;
    display: flex;
    flex-direction: column;
    color: var(--bege-claro);
    margin-bottom: 3.5em;
}

.container__queridinhos--title {
    font-family: var(--font-cursiva);
    font-size: 4em;
    font-weight: bold;

    color: var(--marrom-escuro);

}

.container__queridinhos--items {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
    font-family: inherit;
    text-align: center;

    line-height: 1.5em;
    font-size: 1.25em;
}

.queridinhos__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    text-decoration: none;

    padding: 0 0.5em;

    background: var(--verde-claro);
    color: inherit;
    /* border: 3px solid var(--verde-escuro) */
    box-shadow: 0.5em 0.5em var(--verde-escuro);
}

.queridinhos__titles {
    margin-top: 1em;
}

.queridinhos__link--button {
    width: 5em;
    height: 3em;
    border: none;
    background-color: var(--bege-claro);
    color: var(--verde-escuro);
    margin-bottom: 1em;

    border-radius: 50%;
}

.queridinhos__link--button:hover{
    font-weight: bold;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0%;

    padding: 1rem 0;

    background: var(--verde-escuro);
    color: var(--bege-claro);
    text-align: center;
}

.container__feedbacks {
    margin: 1em auto;
}

.container__feedbacks--title {
    font-family: var(--font-cursiva);
    font-size: 4em;
    font-weight: bold;

    color: var(--marrom-escuro);
}

.footer,
.footer__home {
    width: 100%;
    position: relative;
    bottom: 0%;

    padding: 1rem 0;

    background: var(--verde-escuro);
    color: var(--bege-claro);
    text-align: center;
}