.nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: inherit;

    font-family: inherit;
}

.nav__icon {
    padding: 5px 5px;
    color: inherit;
    text-decoration: none;

    font-family: inherit;
}

.nav__link {
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0.75em 2em;
}

.nav__link:hover {
    box-shadow: 0 0.3em 0 0 var(--bege-claro);
    transition: 0.1s ease-in-out;
}

.nav__link--active {
    box-shadow: 0 0.3em 0 0 var(--bege-claro);
}

.nav__logout {
    padding: 0.5em 1em 0.5em 0;
    color: var(--bege-claro);
}