{% macro carousel() %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}" />

  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--verde-escuro)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1 class="feedback__cliente--nome firts">Marcelle Del Mando Appolario</h1>
            <p class="feedback__cliente--texto">"A Jacque é uma pessoa maravilhosa e uma profissional extremamente competente, delicada, doce. 
                Atualmente faço Drenagem Linfática com ela e tem sido bem eficaz contra o meu inchaço nas pernas. Super recomendo!!!"</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--verde-escuro)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption">
            <h1 class="feedback__cliente--nome second">Julia Rebuci</h1>
            <p class="feedback__cliente--texto">"A Jacque é uma profissional e pessoa maravilhosa! Eu saio do espaço muito mais leve, 
                com a certeza de que o melhor investimento é o auto cuidado, ainda mais nas mãos da Jacque! Indico de olhos fechado qualquer procedimento com ela!"</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--verde-escuro)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1 class="feedback__cliente--nome third">Larissa Rosendo</h1>
            <p class="feedback__cliente--texto">"Jacqueline é uma profissional excepcional, faço a sobrancelhas com ela e é a melhor que eu já fiz, sem dúvidas.
                Sem contar toda a atenção, produtos de qualidade, ambiente lindo organizado. Realizar os procedimentos com a Jacque é um momento de terapia. Recomendo de olhos fechados!"</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endmacro %}
