{% extends 'layout.html' %}

{% block content %}
<main class="main">
    <div class="container__queridinhos">
        <h3 class="container__queridinhos--title">
        Estética
        </h3>

        <div class="container__queridinhos--items estetica">
        {% for nome, descricao in procedimentos_estetica.items() %}
        <a href="" class="queridinhos__link">
            <h4 class="queridinhos__titles">{{ nome }}</h4>
            <img src="{{ url_for('static', filename='assets/logotipo.png') }}" alt="">
            <p class="queridinhos__link--text">
            {{ descricao }}
            </p>
            <button class="queridinhos__link--button">
            Agendar
            </button>
            {% endfor %}
        </a>
        </div>

    </div>
</main>
{% endblock %}
