{% extends 'layout.html' %}
{% from 'macros/carousel.html' import carousel %}

{% block content %}

<div class="main__logotipo">
  <img class="logotipo__photo" src="{{ url_for('static', filename='assets/logotipo.png') }}"
    alt="logotipo Jacqueline Agostini">
</div>

<main class="main">

  <div class="container">

    <div class="container__left">
      <h3 class="container__left--title">Bem-vinda {{ nome }},</h3>
      <p class="container__left--text">Conheça Jacqueline Agostini, uma esteticista dedicada e apaixonada por realçar a
        beleza natural. <br>Com um atendimento atencioso e técnicas avançadas, Jacqueline proporciona uma experiência
        única
        e resultados incríveis, elevando sua autoestima e bem-estar.
      </p>

      <h3 class="conhecer__title">Venha conhecer nosso espaço 🩷</h3>

      <div class="container__conhecer">
        
        <ul class="conhecer__items"><a href="{{ url_for('pages.beleza') }}" class="conhecer__items--link">Beleza </a>
          <li class="conhecer__items--item primeiro">Design de Sobrancelhas</li>
          <li class="conhecer__items--item">Brow Lamination</li>
          <li class="conhecer__items--item">Lash Lifting</li>
        </ul>
        <ul class="conhecer__items"><a href="{{ url_for('pages.estetica') }}" class="conhecer__items--link">Estética</a>
          <li class="conhecer__items--item primeiro">Depilação a Laser</li>
          <li class="conhecer__items--item">Limpeza de Pele</li>
          <li class="conhecer__items--item">Microagulhamento</li>
        </ul>
        <ul class="conhecer__items"><a href="{{ url_for('pages.beleza') }}" class="conhecer__items--link">Bem-Estar</a>
          <li class="conhecer__items--item primeiro">Drenagem Linfática</li>
          <li class="conhecer__items--item">Massagem Relaxante</li>
          <li class="conhecer__items--item">Reflexologia</li>
        </ul>

      </div>

    </div>
    <div class="container__right">
      <img src="{{ url_for('static', filename='assets/foto_jacque.jpeg') }}" alt="Foto Da Jacqueline Agostini de Jaleco"
        class="container__right--photo">
    </div>
  </div>

  <hr>

  <div class="container__queridinhos">
    <h3 class="container__queridinhos--title">
      Queridinhos das Clientes
    </h3>

    <div class="container__queridinhos--items">
      {% for nome, descricao in queridinhos.items() %}
      <a href="" class="queridinhos__link">
        <h4 class="queridinhos__titles">{{ nome }}</h4>
        <img src="{{ url_for('static', filename='assets/logotipo.png') }}" alt="">
        <p class="queridinhos__link--text">
          {{ descricao }}
        </p>
        <form action="agendamento" name='agendamento' method='GET'>
          <button type="submit" class="queridinhos__link--button" placeholder="Agendar">Agendar</button>
        </form>
        {% endfor %}
      </a>
    </div>

  </div>

  <hr>

  <div class="container__feedbacks">
    <h3 class="container__feedbacks--title">
      Feedbacks
    </h3>

    {{ carousel() }}


  </div>

</main>
{% endblock %}