{% from 'macros/fields.html' import render_text_field %}
{% extends 'layout.html' %}

{% block head %} 

    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

{% endblock %}

{% block content %}

        <div class="form__container">
            <form name="register" method="post" novalidate class="form">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {%- for category, message in messages %}
                        <span class="form__flash form__flash--{{category}}"> {{ message }}</span>
                    {% endfor %}
                {% endwith %}
                
                <div class="form__container">
                    {{ form.hidden_tag() }}

                    {{ render_text_field(form.name) }}
                    {{ render_text_field(form.email) }}
                    {{ render_text_field(form.password) }}
                    {{ render_text_field(form.confirm_password) }}
            
                    <div class="form__button">
                        {{ form.submit(class_="button button--form--cadastrar") }}
                    </div>
                </div>
                <p class="register__text">Já possui cadastro?<a class="register__link" href="{{ url_for('pages.login') }}">Clique aqui!</a></p>
            </form>
        </div>

{% endblock %}